.video {
	display: block;
	z-index: 10;
	position: relative;
}

#writing {
	position: fixed;
	z-index: 20;
	font-family: Porsche;
	font-size: 230%;
	color: white;
	top: 84.5vh;
	left: 45.5vw;
}

#writing.stop {position: absolute; top: 96vh;}

#writing.go {position: fixed;}

#scris {
	transform: scale(1, 0.85);
	pointer-events: none;
	opacity: 0;
}

#scris.color {
	background-color: rgba(255,255,255, 0);
	animation-name: appear;
	animation-duration: 0.3s;
	animation-timing-function: ease-in;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: both;
}

#scris.decolor {
	background-color: rgba(255,255,255, 0);
	animation-name: disappear;
	animation-duration: 0s;
	animation-timing-function: ease-in;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: both;
}

#buton2 {
	opacity: 1;
	z-index: 0;
	position: fixed;
	height: 40px;
	width: 202px;
	top: 91vh;
	left: 45.1vw;
}

#buton2.go {position: fixed; z-index: 20;}

#buton2.stop {position: absolute; top: 102.5vh; z-index: 20;}

#buton {
	background-color: white;
	height: 40px;
	width: 202px;
	position: absolute;
	z-index: 20;
	font-family: Porsche;
	font-size: 100%;
	color: white;
	display: flex; align-items: center;
	opacity: 0;
}

#buton.color {
	animation-name: appear;
	animation-duration: 0.3s;
	animation-timing-function: ease-in;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: both;
}

#buton.decolor {
	animation-name: disappear;
	animation-duration: 0.1s;
	animation-timing-function: ease-in;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: both;
} 	

#butonAnc {
	text-decoration: none;
	transform: scale(1, 0.70);
	display: block; margin: 0 auto;
	color: black;
	letter-spacing: 0.5px;
	display: flex; align-items: center;
}

.equipment {
	height: 170vh;
}

.mask {
	position: relative;
	top: 10vh;				
	left: 19vw;
	float: left;
	z-index: 10;
	overflow: hidden;
	border-radius: 20px; 
	height: 85vh;
	width: 30vw;
}

.mask > img {
	position: relative;
	width: 30vw; 
	height: 85vh;
	transition: transform 0.3s ease;
	z-index: 10;
}

.mask > img:hover {
	transform: scale(1.1);

}

.gear {
	position: relative;
	top: 10vh;
	float: right;
	right: 19vw;
	z-index: 0;
	overflow: hidden;
	border-radius: 20px; 
	height: 85vh;
}

.gear > img {
	transition: transform 0.3s ease;
	z-index: 10;
}

.gear >img:hover {
	transform: scale(1.1);
}

.accessories {
	position: relative;
	float: left;
	top: 14vh;
	left: 19vw;
	z-index: 0;
	border-radius: 20px; 
	overflow: hidden;
	height: 55vh;
}

.accessories > img {
	transition: transform 0.3s ease;
	z-index: 10;
}

.accessories >img:hover {
	transform: scale(1.1);
}

#headgear {
	font-family: Aggressive;
	letter-spacing: 8px;
	font-size: 300%;
	z-index: 10;
	position: absolute;
	top: 70px;
	left: 20px;
	color: white;
	transform: scaleY(0);
	pointer-events: none;
	writing-mode: vertical-rl;
	transform-origin: top;
}

#headgear.hovered {
	animation: grow 0.3s  forwards;
}

#headgear.unhovered {
	animation: degrow 0.3s  forwards;
}

#gear {
	font-family: Aggressive;
	letter-spacing: 8px;
	font-size: 300%;
	z-index: 10;
	position: absolute;
	top: 70px;
	left: 20px;
	color: white;
	transform: scaleY(0);
	pointer-events: none;
	writing-mode: vertical-rl;
	transform-origin: top;
}

#gear.hovered {
	animation: grow 0.3s  forwards;
}

#gear.unhovered {
	animation: degrow 0.3s  forwards;
}

#attachments {
	font-family: Aggressive;
	letter-spacing: 8px;
	font-size: 300%;
	z-index: 10;
	position: absolute;
	top: 20px;
	left: 220px;
	color: white;
	transform: scaleY(0);
	pointer-events: none;
	transform-origin: top;
}

#attachments.hovered {
	animation: grow 0.3s  forwards;
}

#attachments.unhovered {
	animation: degrow 0.3s  forwards;
}

.Featuring {
	height: 128vh;
}

#Feat {
	position: relative;
	text-align: center;
	font-size: 300%;
	font-family: Porsche;
}

#ghost {
	height: 80vh;
	position: relative;
	top : 20vh;
	left: 14.3vw;
	float: left;
}

#FeatWriting {
	position: relative;
	width: 30vw;
	height: 30vh;
	float: right;
	top: 50vh;
	left: -16vw;
	text-align: center;
}

#DiscMore {
	position: relative;
	float: right;
	flex: 1; /* Make the anchor take up remaining space */
	display: block;
	text-decoration: none;
	color: black;
	font-size: 90%; /* Make the anchor a block element */
	z-index: 30;
}

#plus.rotate {
	animation-name: rotate;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: both;
}

#plus.unrotate {
	animation-name: unrotate;
	animation-duration: 0.5s;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: both;
}

.Location {
	height: 93vh;
}

.City {
	position: relative;
	float: left;
	left : 16vw;
	top: 20vh;
	width: 80vw;
	height: 30vh;
}

.textCity {
	position: relative;
	float: left;
	width: 30vw;
	font-size: 180%;
	font-family: Gucci;
	line-height: 0.9;
	height: 20vh;
}

.searchBar {
	position: relative;
	float: left;
	width: 40vw;
	height: 10vh;
	top: 5vh;
}

#input {
	position: relative;
	top: 1vh;
	border-width: 2px;
	border-radius: 5px;
	outline: 0;
	height: 5vh;
	width: 29vw;
	font-size: 17px;
}

#input[type="text"] {
      padding-left: 2vw;
    }

.butonSearch {
	position: relative;
	left: -3vw;
	top: 2.3vh;
	width: 2vw;
	background-color: white;
	border: 0;
	outline: 0;
	cursor: pointer;
}

footer {
	position: relative;
	background-color: black;
	height: 90vh;
	padding-left: 4vw;
}

.language {
	position: relative;
	float: left;
	height: 19vh;
	width: 18vw;
	top: 6vh;
}

.change {
		left: 1.5vw;
		position: relative; 
		text-decoration: none; 
		color: white;
}

.change:hover {color: red;}

.trio {
	position: relative;
	width: 97vw;
	height: 17vh;
	float: left;
}

.newsletter {
	position: relative;
	float: left;
	width: 19vw;
	height: 17vh;
}

.newsletter > button:hover {background-color: grey;}{background-color: grey;}

.contact {
	position: relative;
	float: left;
	width: 19vw;
	height: 17vh;
}

.contact > button:hover {background-color: grey;}

.socialMedia {
	position: relative;
	float: left;
	width: 25vw;
	height: 17vh;
}

.socialMedia > div > button:hover {background-color: grey;}

.company {
	position: relative;
	width: 97vw;
	height: 25vh;
	float: left;
	top: 6vh;
}

.first {
	position: relative;
	float: left;
	width: 19vw;
	height: 10vh;
}

.second {
	position: relative;
	float: left;
	width: 19vw;
	height: 10vh;
}

.third {
	position: relative;
	float: left;
	width: 19vw;
	height: 10vh;
}

.butone {
	text-decoration: none; 
	color: white;
}

.butone:hover {color: red;}

.horizontal-line {
	position: absolute;
	bottom: 0;
    border: none; /* Remove default border */
    height: 1px; /* Set height of the line */
	width: 90vw;
    background-color: grey; /* Set color of the line */
    margin: 20px 0; /* Add some spacing above and below the line */
}

.logoFooter {
	position: relative;
	float: left;
	width: 100vw;
	height: 20vh;
	display: flex; /* Use Flexbox */
    justify-content: center; /* Center items horizontally */
    align-items: center;
}

#logoFoot {
	position: relative;
	font-family: Neuro;
	color: white;
	text-decoration: none;
	font-size: 500%;
	top: 5vh;
	left: -4.5vw;
}

@keyframes grow {
	from{transform: scaleY(0);}
	to{transform: scaleY(1);}
}

@keyframes degrow {
	from{transform: scaleY(1);}
	to{transform: scaleY(0);}
}

@keyframes appear {
	from {opacity: 0; z-index: 0;}
	
	to {opacity:1; z-index: 1001;}
}

@keyframes disappear {
	from {opacity: 1; z-index: 1001;}
	
	to {opacity:0; 
	z-index: 0;}
}

@keyframes rotate {
	from {transform: rotate(0deg);}
	
	to {transform: rotate(90deg);}
}

@keyframes unrotate {
	from {transform: rotate(90deg);}
	
	to {transform: rotate(0deg);}
}

@font-face {
	font-family: Aggressive;
	src: url(../Surse/Fonts/Fierce.ttf);
}

@font-face {
	font-family: Porsche;
	src: url(../Surse/Fonts/Porsche.ttf);
}